<h1>Edit a Post</h1>

<form class="" action="<%=post_url(@post)%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%=auth_token%>
  <label for="title">Title : </label>
  <input type="text" name="post[title]" id="title"value="<%=@post.title%>">
  <label for="url">URL : </label>
  <input type="text" name="post[url]" value="<%=@post.url%>">
  <label for="description">Content</label>
  <textarea name="post[content]" rows="8" cols="80"id="description"><%=@post.content%></textarea>
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% subs = Sub.all.includes(:posts)%>
  <% subs.each do |sub|%>
    <% check = sub.posts.include?(@post) ? 'checked' : "" %>
    <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>" <%=check%> >
    <label for=""><%=sub.title%></label>
    <br>
  <% end %>
  <input type="submit" value="Update Post!">
</form>

